h1{
    font-size: 2.5em;
    color: darkkhaki;
}

.para{
    margin: 30px;
    font-size: 1.2em;
}

.btn{
    margin-top: 20px;
    padding: 10px,10px,10px,10px;
    height: 200px;
    width: 450px;
    border-color: yellowgreen;
    border-radius: 10px;
    font-size: 2.5em;
    font-style: arial bold;
    font-weight: bold;
    color: goldenrod;
    text-align:center;
}